version: '3.3'

services:
  autotest:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - "./allure-results/:/app/autotest/allure-results/"
    # command on start